.product-form {
  padding-top: 2rem;
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid rgb(31, 150, 255);
  font: inherit;
  border-radius: 2px;
  margin: 0.5rem 0;
}

button {
  font: inherit;
  cursor: pointer;
  color: rgb(31, 150, 255);
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(31, 150, 255);
  background: white;
  border-radius: 3px;
}